.covidBanner {
    background-color: black;
}

.covidBanner_link {
    color: lightgray;
    text-align: center;
    padding: 30px;
    font-weight: 600;
}

.covidBanner_link:hover {
    color: #DDDDDDCC;
}

