::placeholder {
    color: lightgray;
    opacity: 1;
}

* {
    margin: 0;
    padding: 0;
}

.test2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #f5f4f4;
}

.test_icon {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
    
}

.test_center {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
}

.test_center > input {
    border: none;
    width: 250px;
    outline-width: 0;
    padding: 10px;
    background-color: transparent;
}

.test_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}

.searchIconTest_div {
    border-radius: 50% !important;
    padding: 5px;
    background-color: #FF385C;
    color: white;
    align-items: center;
}

.searchTest_icon {
    font-size: 15px !important;
    padding: 3px !important;
    
}